fieldset {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 30px;
}

input {
  font-size: 1rem;
  height: 20px;
}

.error-message {
  display: none;
  color: red;
  font-size: 1rem;
}

button {
  margin: 30px 0px 30px;
  height: 45px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
