nav {
  background: lightcoral;
  padding: 5px;
  margin-bottom: 50px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: lightblue;
  width: 100px;
  padding: 10px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card,
.details-character-container {
  margin: 10px;
  width: 350px;
  padding: 35px 10px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  align-items: center;
}

.details-text {
  align-self: flex-start;
  margin: 5px 0px 0px 30px;
}

.details-container {
  display: flex;
  justify-content: center;
}

fieldset {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 30px;
}

input {
  font-size: 1rem;
  height: 20px;
}

.error-message {
  color: red;
  font-size: 1rem;
}

.success-message {
  color: green;
  font-size: 1rem;
}

.success-class {
  border-color: green;
  background-color: lightgreen;
}

.error-class {
  border-color: red;
  background-color: lightpink;
}

button {
  margin: 30px 0px 30px;
  height: 45px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 300px;
  height: 50px;
  background-color: darkslateblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-style: solid;
}

.input-container {
  display: flex;
  flex-direction: column;
}
